/* Apply this to whole doc */
*{
  box-sizing: border-box;
}

body {
  margin: 0;
}


.hide {
  display: none !important;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* override default header height */
  height: 100px;
  /* background-color: #fc0fc0; */
  background-image: linear-gradient(to right, #4e83e6, #4f86f7, #6ca0dc);
  color: aliceblue;
}

header h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 50px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  border: 5px black;
  /* background-color: #0fc0fc; */
}

/* Elements available for one screen size 
but not for others. Media queries turn 
them on and off */
@media (min-width: 768px) {
  .dashboard {
    flex-direction: row;
  }
}

.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: black 5px;
  /* background-color: #3fff00; */
  align-items: center;
}

.sidebar h2 {
  font-size: 25px;
}



@media (min-width: 768px) {
  .sidebar {
    width: 300px;
    height: calc(100vh - 100px);
  }
}

/* .search {
  background-color: #6ca0dc;
} */

.search input {
  height: 40px;
  padding: 0 10px;
  float: right;
  border-radius: 10px;
  color: aliceblue;
  max-width: 300px;
  padding-left: 10px;
}

.search-btn {
  color: black;
  float: right;
  width: 300px;
  height: 40px;
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #c0d6ff;
  border-radius: 10px;
  margin-top: 10px;
  border: black 1px;
 
}

.search-txt{
  border-style: solid;
  float: right;
  font-size: 18px;
  line-height: 40px;
  
  justify-content: center;
  width: 400px;
  
  
}

/* #cityState {
  align-items: center;
} */

.history {
 justify-content: center;
}

.history ul {
  
  list-style: none;
  font-size: 20px;
  padding: 30px;
  margin-top: 80px;
 
}

/* UPDATE SEARCH HISTORY THAT COMES BACK FROM LOCAL STORAGE */
li {
  padding: 12px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: cornsilk;
}

li:hover {
  color: #4e83e6;
}

.weather-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
}

#today-weather {
  margin: 10px;
  padding: 10px;
  border: solid 1px;
  border-radius: 10px;
  background-color: cornsilk;
  
}

#today-weather h2 {
  font-weight: bold;
  font-size: 30px;
  display: flex;
}

.forecast {
  font-size: 30px;
}

#five-day-forecast {
  /* background-color: #df73ff; */
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.day-forecast {
  display: flex;
  flex-direction: column;
  /* background-color: #7fffd4; */
  background-color: #4e83e6;
  color: aliceblue;
  font-weight:inherit;
  padding: 5px;
  margin: 6px;
}